<div class="col-md-12">
    <div class="card card-container">
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="email">Receiver Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
        <div class="form-group">
          <label for="money">Money</label>
          <input
            type="number"
            class="form-control"
            name="money"
            [(ngModel)]="form.money"
            required
            #money="ngModel"
          />
        </div>
        <div class="form-group">
            <label for="currency">Currency</label>
              <select class="form-control" name="currency" [(ngModel)]="selectedCurrency">
                  <option *ngFor="let c of currencies" [ngValue]="c.currency">{{c.currency}}</option>
              </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Send Money
          </button>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="done">
        {{response}}
      </div>

    </div>
  </div>
  