<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Digital wallet</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/deposit" class="nav-link" routerLink="deposit">Deposit</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/withdraw" class="nav-link" routerLink="withdraw">Withdraw</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/group/donate" class="nav-link">Donate Group </a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/group" class="nav-link" routerLink="group">Create Group </a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/send-money" class="nav-link">Send Money</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/account/create" class="nav-link">Account Create</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/reccuring" class="nav-link">Reccurings</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/transactions/history" class="nav-link">Transactions History</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a href="/users/management" class="nav-link">User Management</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!authService.isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="authService.isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>